.search-btn {
    display: flex;
    justify-content: center;
}

.search-btn Button{
    margin-top: 31px;
    padding: 12px 37px;
    border-radius: 25px;
}

.m-tb-8 {
    margin: 16px 0;
}

.container-box {
    border: 1px solid;
    margin: 24px 0;
    padding: 24px !important;
    border-radius: 8px;
}

.p-16 {
    padding: 24px;
}